:root {
	font-size: 1rem;
	line-height: 1.3em;
	--ip-green: #7acabd;	--ip-green-hsl: 170, 43%, 64%;
}

html,
body {
	color: #444;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	font-size: 0.875em;
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

/*=================
	TYPOGRAPHY
=================*/

@font-face {
	font-family: system;
	font-style: normal;
	font-weight: 300;
	src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Segoe UI Light"), local("Ubuntu Condensed"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

body {
	font-family: "Lora", "system", sans-serif;
	font-weight: normal;
}

@media (max-width: 24.15em) {
	p, .body-type {
		line-height: calc(1.3em + (1.5 - 1.3) * ((100vw - 21em) / (35 - 21)));
	}
}

p {
	line-height: 24px;
	text-align: left;
}

a[href]:not([class]) {
	color: #7acabd;
	color: var(--ip-green);
	text-decoration: none;
	padding: 0.1em 0.2em 0;
	margin: -0.1em -0.2em 0;
	border-radius: 0.2em;
	transition: background-color 0.2s;
}

a[href]:not([class]):hover {
	background-color: rgba(123, 203, 189, 0.1);
	background-color: hsla(var(--ip-green-hsl), 0.1);
}

a[href]:not([class]):active {
	background-color: rgba(123, 203, 189, 0.1);
	background-color: hsla(var(--ip-green-hsl), 0.3);
	transition-duration: 0s;
}

/*=================
	UTILITIES
=================*/

.hidden {
	display: none;
}

.justify {
	text-align: justify;
}

.visible-mobile {
	display: none;
}

@media (max-width: 550px) {
	.visible-mobile {
		display: inline-block;
	}

	.hidden-mobile {
		display: none;
	}
}

/*=================
	GUI
=================*/

.button {
	display: inline-block;
	background-color: #7acabd;
	background-color: var(--ip-green);
	color: #fff;
	font-family: 'Open Sans';
	font-size: 0.875em;
	font-weight: 600;
	letter-spacing: 0.05em;
	padding: 1.25em 3em;
	border-radius: 2em;
	text-decoration: none;
	box-shadow: 0 0.15em 0.5em 0 rgba(0, 0, 0, 0.2);
	text-transform: uppercase;
}

.button:hover {

}

/*=================
	INDEX
=================*/

#logo {
	height: 75.5px;
	opacity: 1;
	width: 150px;
}

.index-bg {
	height: 100%;
	background-size: cover;
	flex-grow: 1;
	overflow: hidden;
}

@media (min-width: 551px) {
	.index-bg {
		background: url('../img/home-bg.jpg') no-repeat center center fixed;
	}
}

.index-panel {
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	background-color: #fff;
	overflow: auto;
}

.index-panel_container {
	width: 60ch;
	text-align: center;
}

.index-panel_container p:not(.justify) {
	text-align: center;
}

.mission {
	margin: 50px 0px;
	padding: 0 3em;
}

.index-panel_container .button {
	margin-bottom: 50px;
}

.index-panel_container img {
	height: auto;
	width: 100%;
}

@media (max-width: 550px) {
	.index-panel {
		align-items: initial;
	}

	.index-panel_container {
		padding-top: 100px;
		width: 100%;
	}

	.small-mockup {
		margin-top: 50px;
	}
}

.nloaded img,
.nloaded #logo,
.nloaded p,
.nloaded a {
	opacity: 0;
	transform: translateY(30px);
}

.nloaded .index-bg {
	opacity: 0;
	transform: translateX(50px);
}

.loaded img,
.loaded #logo,
.loaded p,
.loaded a {
	opacity: 1;
	transform: translateY(0px);
	transition: opacity 0.5s, transform 0.5s;
}

.loaded .index-bg {
	opacity: 1;
	transform: translateX(0px);
	transition: opacity 0.5s, transform 0.5s;
}

.loaded .mission {
	transition-delay: 100ms;
}

.loaded .button {
	transition-delay: 200ms;
}

.loaded p {
	transition-delay: 300ms;
}

.loaded img.small-mockup {
	transition-delay: 400ms;
}

.loaded .index-bg {
	transition-delay: 400ms;
}
